body, div, html {
  padding: 0;
  margin: 0;
  position:relative;
}

.header {
  color: white;
  background-color: #0bc1a2;
  height: 80px;
}

.header-title {
  font-size: xx-large;
  float: left;
  padding: 20px 5px 20px 40px;
}

.header-list {
  font-size: medium;
  float: right;
  padding: 28px 20px 28px 5px;
}

li {
  list-style: none;
  float: left;
  margin-left: 16px;
}


/* cytoscape graph */
#cy {
    top: 0px;
    background: #f9f9f9;
    height: 600px;
  }

/* モーダルウィンドウのスタイル */
.modal {
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:none;
}
 
/* オーバーレイのスタイル */
.overLay {
  position:absolute;
  top:0;
  left:0;
  background:rgba(200,200,200,0.9);
  width:100%;
  height:100vh;
  z-index:10;
}
 
/* モーダルウィンドウの中身のスタイル */
.modal .inner {
  position:absolute;
  z-index:11;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}